<!-- <p>signin works!</p> -->


<mat-card>
    <mat-card-title>Sign In</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">

        <!-- username -->
        <p>
          <!-- <mat-icon mat-list-icon>mail_outline</mat-icon> -->
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Username"
              formControlName="username"
              required
            />
            <mat-icon matSuffix >email</mat-icon>
            <mat-error>
              Please provide a valid email address
            </mat-error>
          </mat-form-field>
        </p>

        <!-- password section -->
        <p>
            <!-- <mat-icon mat-list-icon>password</mat-icon> -->
            <mat-form-field>
              <input
              [type]="showPassword ? 'text' : 'password'"
                matInput
                placeholder="Password"
                formControlName="password"
                required
              />

              <!-- <mat-icon matSuffix (click)="togglePasswordVisibility()">visibility</mat-icon> -->
              <mat-icon matSuffix (click)="togglePasswordVisibility()">
                {{showPassword?'visibility_off':'visibility'}}
            </mat-icon>
              <mat-error>
                Please provide a valid password 
              </mat-error>
            </mat-form-field>
          </p>

          <!-- <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password">
            <input matInput [type]="showPassword ? 'text' : 'password'" name="password">
            <mat-icon matSuffix>visibility</mat-icon>
            <mat-icon matSuffix (click)="togglePasswordVisibility()">visibility</mat-icon>
            <mat-icon matSuffix (click)="togglePasswordVisibility()">
                {{showPassword?'visibility_off':'visibility'}}
            </mat-icon>
        </mat-form-field> -->

          <!-- <div class="mtop">
            <button mat-button color="secondary">Basic</button>
          </div> -->

          <!-- Buttons -->
          <!-- <section> -->
            <!-- <div class="example-label">Basic</div> -->
            <div class="example-button-row">
              <!-- <button mat-button>Basic</button> -->
              <!-- <button mat-button color="primary">Primary</button> -->
              <button mat-button color="accent">Sign In</button>
              <!-- <button mat-button color="warn">Warn</button> -->
              <!-- <button mat-button disabled>Disabled</button> -->
              <!-- <a mat-button href="https://www.google.com/" target="_blank">Link</a> -->
            </div>
          <!-- </section> -->
  

      </form>
    </mat-card-content>
</mat-card>